<section
  class="block w-72 max-w-sm md:w-96 md:max-w-md p-6 bg-gray-800 border-gray-700 hover:bg-gray-700 rounded-lg shadow m-auto mt-8 mb-4"
>
  <h5
    class="mb-2 text-2xl font-bold tracking-tight text-white text-center"
  >About TechStore project</h5>
  <ul>
    <li class="list-disc text-white">
      <p class="font-normal text-gray-300">if you register a new user or if you
        sign in using
        <strong> Michael.Scott@gmail.com </strong>
        as email and
        <strong>dundies</strong>
        as a password you will get a user role, as a user you can view products
        and search for specific products</p>
    </li>
    <br />
    <li class="list-disc text-white">
      <p class="font-normal text-gray-300">
        If you login using
        <strong> Jim.Halpert@gmail.com</strong>
        as email and
        <strong>tuna</strong>
        as a password you will get a moderator role, as a moderator you can
        view, create, update, delete and search products
      </p>
    </li>
    <br />
    <li class="list-disc text-white">
      <p class="font-normal text-gray-300">
        If you login using
        <strong> David.Wallace@gmail.com</strong>
        as email and
        <strong>regmanager</strong>
        as a password you will get an admin role, as a an admin you can view,
        create, update, delete users plus all moderator actions
      </p>
    </li>
  </ul>
</section>