<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>
    <div class="text-center mt-28 block">
      <h1
        class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
      >Welcome to TechStore</h1>
      <p
        class="mb-6 text-lg font-medium text-gray-600 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-500"
      >Here at TechStore we focus on markets where technology, innovation, and
        capital can unlock long-term value and drive economic growth.</p>
    </div>
  </body>
</html>